# Capstone 3

## Data Wranging

Diabetes is among the most prevalent chronic diseases in the United States.  It can lead to reduced quality of life and life expectancy, and can also lead to several complications, including heart disease, vision loss, amputation, and kidney disease.  There is no cure for diabetes, but early diagnosis can lead to lifestyle changes and better treatments and outcomes for patients.

Our client, Very Fancy Hospital (hereinafter, “VFH”), is the largest hospital network in Northeastern Pennsylvania.  VFH is also one of the leading hospitals for diabetes research, and patients from all over the country seek treatment for this chronic disease.  

VFH is interested in determining whether it’s possible to predict which of their current patients are likely to become diabetic in the future.  

This project will use data from Kaggle – 
https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset?resource=download

The dataset includes 253,680 survey responses to the CDC’s Behavioral Risk Factor Surveillance System (a health-related telephone survey that is collected annually by the CDC).  It includes health data from those who either are diabetic, prediabetic, or non-diabetic (or, alternatively, only experienced gestational diabetes).

The business scenario will be modeled by building several classification models, which will be evaluated and compared according to appropriate performance metrics selected according to the goals of the client.  Since we are focused on whether a patient is diabetic or prediabetic instead of non-diabetic, it makes sense for us to pursue the use of machine learning classification models towards this problem.

In addition, interpretability analyses will be conducted to characterize how the variation of identified features will affect the probability associated with each of the classes under study.

The project is split into four separate sections:
Data wranging
Exploratory data analysis
Preprocessing and training
Modeling

As this is the first section, data wrangling, we will focus on importing the data, cleaning/wrangling the data, and saving the data.

## 1. Table of Contents

[1. Table of Contents](#1.-Table-of-Contents)

[2. Import Packages](#2.-Import-Packages)

[3. Import Data](#3.-Import-Data)

[4. Explore the Data](#4.-Explore-the-Data)

[5. Export Data](#5.-Export-Data)

## 2. Import Packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## 3. Import Data

In [33]:
diabetes_data = pd.read_csv('/Users/lauren/Desktop/diabetes_binary_5050split_health_indicators_BRFSS2015.csv')

## 4. Explore the Data

In [34]:
#Call the info method on diabetes_data to see a summary of the data
diabetes_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       70692 non-null  int64
 1   HighBP                70692 non-null  int64
 2   HighChol              70692 non-null  int64
 3   CholCheck             70692 non-null  int64
 4   BMI                   70692 non-null  int64
 5   Smoker                70692 non-null  int64
 6   Stroke                70692 non-null  int64
 7   HeartDiseaseorAttack  70692 non-null  int64
 8   PhysActivity          70692 non-null  int64
 9   Fruits                70692 non-null  int64
 10  Veggies               70692 non-null  int64
 11  HvyAlcoholConsump     70692 non-null  int64
 12  AnyHealthcare         70692 non-null  int64
 13  NoDocbcCost           70692 non-null  int64
 14  GenHlth               70692 non-null  int64
 15  MentHlth              70692 non-null  int64
 16  PhysHlth              70692 non-null  int64
 17  DiffWalk              70692 non-null  int64
 18  Sex                   70692 non-null  int64
 19  Age                   70692 non-null  int64
 20  Education             70692 non-null  int64
 21  Income                70692 non-null  int64
dtypes: int64(22)
memory usage: 11.9 MB

In [35]:
#Call the head method on diabetes_data to print the first several rows of the data
diabetes_data.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0,1,0,1,26,0,0,0,1,0,...,1,0,3,5,30,0,1,4,6,8
1,0,1,1,1,26,1,1,0,0,1,...,1,0,3,0,0,0,1,12,6,8
2,0,0,0,1,26,0,0,0,1,1,...,1,0,1,0,10,0,1,13,6,8
3,0,1,1,1,28,1,0,0,1,1,...,1,0,3,0,3,0,1,11,6,8
4,0,0,0,1,29,1,0,0,1,1,...,1,0,2,0,0,0,0,8,5,8

In [36]:
#Count (using `.sum()`) the number of missing values (`.isnull()`) in each column of 
#diabetes_data as well as the percentages (using `.mean()` instead of `.sum()`).
#Order them (increasing or decreasing) using sort_values
#Call `pd.concat` to present these in a single table (DataFrame) with the helpful column names 'count' and '%'
missing = pd.concat([diabetes_data.isnull().sum(), 100 * diabetes_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by='count', ascending = False)

                      count    %
Diabetes_binary           0  0.0
HighBP                    0  0.0
Education                 0  0.0
Age                       0  0.0
Sex                       0  0.0
DiffWalk                  0  0.0
PhysHlth                  0  0.0
MentHlth                  0  0.0
GenHlth                   0  0.0
NoDocbcCost               0  0.0
AnyHealthcare             0  0.0
HvyAlcoholConsump         0  0.0
Veggies                   0  0.0
Fruits                    0  0.0
PhysActivity              0  0.0
HeartDiseaseorAttack      0  0.0
Stroke                    0  0.0
Smoker                    0  0.0
BMI                       0  0.0
CholCheck                 0  0.0
HighChol                  0  0.0
Income                    0  0.0

Great! Our dataset is not missing any values!

In [37]:
diabetes_data.columns

Index(['Diabetes_binary', 'HighBP', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'Stroke', 'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'AnyHealthcare', 'NoDocbcCost', 'GenHlth',
       'MentHlth', 'PhysHlth', 'DiffWalk', 'Sex', 'Age', 'Education',
       'Income'],
      dtype='object')

In [39]:
diabetes_data["Diabetes_binary"].unique()

array([0, 1])

Please note, 0 = no diabetes while 1 = prediabetes or diabetes

In [40]:
diabetes_data["HighBP"].unique()

array([1, 0])

Please note, 0 = no high blood pressure while 1 = high blood pressure

In [41]:
diabetes_data["HighChol"].unique()

array([0, 1])

Please note, 0 = no high cholesterol while 1 = high cholesterol

In [42]:
diabetes_data["CholCheck"].unique()

array([1, 0])

Please note, 0 = they haven't had their cholesterol checked in 5 years while 1 = they have had their cholesterol checked in the last 5 years

In [43]:
diabetes_data["BMI"].unique()

array([26, 28, 29, 18, 31, 32, 27, 24, 21, 58, 30, 20, 22, 38, 40, 25, 36,
       47, 19, 37, 41, 23, 34, 35, 42, 17, 33, 44, 15, 52, 69, 56, 45, 39,
       92, 53, 98, 50, 46, 79, 48, 16, 63, 72, 54, 49, 68, 43, 84, 73, 76,
       55, 51, 75, 57, 60, 12, 77, 82, 67, 71, 61, 14, 81, 59, 86, 13, 87,
       65, 95, 89, 62, 64, 66, 85, 70, 83, 80, 78, 74])

BMI = body mass index

In [44]:
diabetes_data["Smoker"].unique()

array([0, 1])

Please note, 0 = they haven't smoked at least 100 cigarettes in their entire life while 1 = they have smoked at least 100 cigarettes in their entire life

In [45]:
diabetes_data["Stroke"].unique()

array([0, 1])

Please note, 0 = they have not had a stroke in the past while 1 = they have had a stroke in the past

In [46]:
diabetes_data["HeartDiseaseorAttack"].unique()

array([0, 1])

Please note, 0 = they do not have coronary heart disease (CHD) or myocardial infarction (MI) while 1 = they do have heart disease

In [47]:
diabetes_data["PhysActivity"].unique()

array([1, 0])

Please note, 0 = they have not performed physical activity in the last 30 days (not including their job) while 1 = they have performed physical activity in the last 30 days

In [48]:
diabetes_data["Fruits"].unique()

array([0, 1])

Please note, 0 = they do not consume fruit at least once per day while 1 = they do consume fruit at least once per day

In [49]:
diabetes_data["Veggies"].unique()

array([1, 0])

Please note, 0 = they do not consume vegetables at least once per day while 1 = they do consume vegetables at least once per day

In [50]:
diabetes_data["HvyAlcoholConsump"].unique()

array([0, 1])

Please note, 0 = they do not drink a high amount of alchol per week while 1 = they do drink a high amount of alcohol per week

High amount of alcohol = at least 14 drinks per week for men and at least 7 drinks per week for women

In [51]:
diabetes_data["AnyHealthcare"].unique()

array([1, 0])

Please note, 0 = they do not have any kind of health care coverage while 1 = they do have health care coverage

In [52]:
diabetes_data["NoDocbcCost"].unique()

array([0, 1])

Please note, 0 = there was not a time within the past 12 months where they could not see a doctor due to cost while 1 = there was a time within the past 12 months where they could not see a doctor due to cost

In [53]:
diabetes_data["GenHlth"].unique()

array([3, 1, 2, 4, 5])

This survey question asked participants to rate their general health on a 1-5 scale, where 1 = excellent, 2 = very good, 3 = good, 4 = fair, and 5 = poor

In [54]:
diabetes_data["MentHlth"].unique()

array([ 5,  0,  7,  3,  4,  2, 30, 20,  1, 15, 10, 25, 14, 28,  6, 29, 26,
       12, 16, 22, 13,  8,  9, 21, 18, 17, 27, 24, 23, 11, 19])

This survey question asked how many days participants experienced poor mental heath in the last 30 days

In [55]:
diabetes_data["PhysHlth"].unique()

array([30,  0, 10,  3,  6,  4, 15,  1,  2, 14,  7, 25, 21, 20,  5,  8, 22,
       23, 29, 12, 18, 28, 26, 24, 27, 11, 13, 16, 17,  9, 19])

This survey question asked how many days participants experienced either illness or physical injury in the last 30 days

In [56]:
diabetes_data["DiffWalk"].unique()

array([0, 1])

Please note, 0 = they do not have serious difficulty walking or climbing stairs while 1 = they do have serious difficulty walking or climbing stairs

In [57]:
diabetes_data["Sex"].unique()

array([1, 0])

Please note, 0 = female while 1 = male

In [58]:
diabetes_data["Age"].unique()

array([ 4, 12, 13, 11,  8,  1,  6,  3,  7, 10,  9,  5,  2])

This survey question asked for the ages of particpants on a 1-13 scale, where 1 = 18 to 24, 2 = 25 to 29, 3 = 30 to 34, 4 = 35 to 39, 5 = 40 to 44, 6 = 45 to 49, 7 = 50 to 54, 8 = 55 to 59, 9 = 60 to 64, 10 = 65 to 69, 11 = 70 to 74, 12 = 75 to 79, and 13 = 80 or older

In [59]:
diabetes_data["Education"].unique()

array([6, 5, 4, 3, 2, 1])

This survey question asked for the highest level of education participants completed on a 1-6 scale, where 1 = never attended school or only attended kindergarten, 2 = grades 1 through 8, 3 = grades 9 through 11, 4 = grade 12 or GED, 5 = college 1 year to 3 years, and 6 = college 4 years or more

In [60]:
diabetes_data["Income"].unique()

array([8, 7, 6, 3, 4, 1, 5, 2])

This survey question asked for the income levels of participants on a 1-8 scale, where 1 = less than \\$10,000, 2 = less than \\$15,000, 3 = less than \\$20,000, 4 = less than \\$25,000, 5 = less than \\$35,000, 6 = less than \\$50,000, 7 = less than \\$75,000, and 8 = \\$75,000 or more

After going through the entire dataset it appears that my data is clean.  I will not need to do anything further to clean this dataset.

In [61]:
diabetes_data.shape

(70692, 22)

In [62]:
print(diabetes_data['Diabetes_binary'].value_counts())

0    35346
1    35346
Name: Diabetes_binary, dtype: int64

According to the above, I have an even dataset.  There is an equal number of participants with either prediabetes or diabetes and participants who do not have diabetes.

In [63]:
diabetes_data.describe().T

,count,mean,std,min,25%,50%,75%,max
Diabetes_binary,70692.0,0.500000,0.500004,0.0,0.0,0.5,1.0,1.0
HighBP,70692.0,0.563458,0.495960,0.0,0.0,1.0,1.0,1.0
HighChol,70692.0,0.525703,0.499342,0.0,0.0,1.0,1.0,1.0
CholCheck,70692.0,0.975259,0.155336,0.0,1.0,1.0,1.0,1.0
BMI,70692.0,29.856985,7.113954,12.0,25.0,29.0,33.0,98.0
Smoker,70692.0,0.475273,0.499392,0.0,0.0,0.0,1.0,1.0
Stroke,70692.0,0.062171,0.241468,0.0,0.0,0.0,0.0,1.0
HeartDiseaseorAttack,70692.0,0.147810,0.354914,0.0,0.0,0.0,0.0,1.0
PhysActivity,70692.0,0.703036,0.456924,0.0,0.0,1.0,1.0,1.0
Fruits,70692.0,0.611795,0.487345,0.0,0.0,1.0,1.0,1.0
Veggies,70692.0,0.788774,0.408181,0.0,1.0,1.0,1.0,1.0
HvyAlcoholConsump,70692.0,0.042721,0.202228,0.0,0.0,0.0,0.0,1.0
AnyHealthcare,70692.0,0.954960,0.207394,0.0,1.0,1.0,1.0,1.0
NoDocbcCost,70692.0,0.093914,0.291712,0.0,0.0,0.0,0.0,1.0
GenHlth,70692.0,2.837082,1.113565,1.0,2.0,3.0,4.0,5.0
MentHlth,70692.0,3.752037,8.155627,0.0,0.0,0.0,2.0,30.0
PhysHlth,70692.0,5.810417,10.062261,0.0,0.0,0.0,6.0,30.0
DiffWalk,70692.0,0.252730,0.434581,0.0,0.0,0.0,1.0,1.0
Sex,70692.0,0.456997,0.498151,0.0,0.0,0.0,1.0,1.0
Age,70692.0,8.584055,2.852153,1.0,7.0,9.0,11.0,13.0
Education,70692.0,4.920953,1.029081,1.0,4.0,5.0,6.0,6.0
Income,70692.0,5.698311,2.175196,1.0,4.0,6.0,8.0,8.0

## 5. Export Data

In [64]:
diabetes_data.to_csv('/Users/lauren/Desktop/diabetes_data_cleaned.csv')